html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 
body, select, input, textarea { color:#444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }
ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }
small { font-size:85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

a:link { -webkit-tap-highlight-color: #FF5E99; } 


html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden { display:none; visibility:hidden; } 
.visuallyhidden { position:absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


 /* Primary Styles
    Author: Madhav Suresh
 */

body{

}

#container{
width:960px;
margin:auto;
margin-top: 50px;
}

#tweetz{
  margin-left:0px;
  width: 400px;
}
.tweet:hover 	{ 	
background-color:#E8E8E8;
 -webkit-transition-property: opacity, left;
  -webkit-transition-duration: 2s, 4s;
}
.tweet:hover a{
font-weight:bold;
}

.tweet {
list-style-type: none;
background-color:#FFFFFF;
margin-bottom:10px;
padding:13px;
width: 400px;
}
.pair{
  float:left;
}
#second_half{
  width:500px;
}
#chart_div{
  margin:auto;
  margin-top:10px;
  margin-right:50px;
}
#nav{
float: right;

margin-top: 15px;

}
#top_list{
  margin-top: 20px;
  padding-left: 100px;
}
#top_list li{
  list-style-type:none;
  margin-left:50px;
font-family: 'Open Sans Condensed', sans-serif;
}

ul{
  margin-left:5px;
  margin-bottom:5px;
}
.policy_button a{
text-decoration: none;
}

#policies{
  width:400px;
}
.policy_button{
display:inline;
margin-left: 0px;
font-family: 'Open Sans Condensed', sans-serif;
font-weight:300;
font-size: 20px;
margin-right: 10px;
}
.policy_button:hover {
  font-color:#000000;
}
.panel{
float:left;
width:400px;
margin-right:40px;
}
.panel h1{
font-family: 'Open Sans Condensed', sans-serif;
font-size: 60px;
}
.tweet{
font-family: 'Gudea', sans-serif;
font-size: 15px;
}
.subtext{
  font-size:12px;
};
.subtext a{
  font-color: #FFFFFF;
}

.panel h3{

font-family: georgia;
font-variant: small-caps;
font-weight: 900;
font-size: 18px;
padding-bottom: 6px;
border-bottom: 4px solid;
border-color:#004dcd;
margin-bottom: 15px;
width: 240px;

}


/* 
 * print styles
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}



@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

/* Grade-A Mobile Browsers */
@media screen and (max-device-width: 480px) {
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 

}



/*

NIVOSLIDER STYLES

*/
.nivoSlider {
	float:relative;	
	min-height:220px;
	margin:30px 30px 60px 30px;
	background:#202834 url(../img/loading.gif) no-repeat 50% 50%;
	-moz-box-shadow:0px 0px 10px #333;
	-webkit-box-shadow:0px 0px 10px #333;
	box-shadow:0px 0px 10px #333;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.nivoSlider a {
	border:0;
}

#slider1{
	width:510px;
	position:relative;
}





        
